@font-face {
    font-family: 'THSarabunNew';
    src: url('/font/THSarabunNew.ttf');

}

.eiei{
    background-color: aquamarine;
}

h1,h2,h3,h4,h5,h6,p,span {
    font-family: 'THSarabunNew', 'THSarabunNew';
}


.title {
    font-family: 'THSarabunNew', 'THSarabunNew';
    font-size: 20px;
}

.select2-results__options{
    font-size:20px !important;
}



.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
  }
  